
.ui.fixed.vertical.inverted.sidebar.menu
	a.active.item(href='/page/one')
		i.left.icon.star
		| One
	a.item(href='/page/two')
		i.left.icon.book
		| Two

.ui.fixed.inverted.menu
	.ui.container
		a.toc.item
			i.sidebar.icon
		a.header.item(href='/page/one')
			//-img.logo(src='/assets/images/logo.svg')
			//-| &nbsp;
			| One
		a.item.computer_only(href='/page/two') Two
	.right.menu
		a.item(href='https://github.com/topseed/topseed-hello') Git





// left
//.ui.fixed.vertical.inverted.sidebar.menu
	a.active.item(href='/page/one')
		i.left.icon.star
		| One1
	a.item(href='/page/two')
		i.left.icon.book
		| Two

// top
//#topMenu.ui.pointing.inverted.menu
	a.toc.item
		i.sidebar.icon.bars
	.item Narwhal
	a.item.active(href='/page/one') Home
	a.item
		| Messages
	a.item
		| Friends

	.right.menu
		.item
			.ui.buttons
				#Mlogin.ui.inverted.button.tiny.compact Log In
				#MlogOut.ui.inverted.button.tiny.compact Log Out
				#MsignUp.ui.inverted.button.tiny.compact Sign Up

//.ui.inverted.menu
	a.active.item(href='/home') Home
	a.item(href='/page/solution') Solution
	a.item(href='/page/pricing') Pricing
	a.item(href='/member/learn') Learn
	a.item(href='/member/tryInstall')  Try it
	a#MmemberHome.item(href='/register/memberHome') Member
	a.item(href='/home') About

//style.
	#topMenu {
		margin: 0;
		border-radius: 0;

	}