
//side
.ui.fixed.vertical.inverted.sidebar.menu
	a.active.item(href='/page/one')
		i.left.icon.star
		| One
	a.item(href='/page/two')
		i.left.icon.book
		| Two

//top
.ui.fixed.inverted.menu
	.ui.container
		a.toc.item
			i.sidebar.icon
		.item Narwhal

		a.active.item(href='/home') Home
		a.item(href='/page/solution') Solution
		a.item(href='/page/pricing') Pricing
		a.item(href='/member/learn') Learn
		a.item(href='/member/tryInstall')  Try it
		a#MmemberHome.item(href='/register/memberHome') Member
		a.item(href='/linkBlog') Link Blog

	.right.menu
		#rightItem.item
			.ui.buttons
				#Mlogin.ui.inverted.button.tiny.compact Log In
				#MlogOut.ui.inverted.button.tiny.compact Log Out
				#MsignUp.ui.inverted.button.tiny.compact Sign Up

style.
	* {
		letter-spacing: .05em !important;
	}

	#rightItem, #MsignUp {
		margin-right: 2em;
	}


	.ui.menu {
		height: 1.5em !important;
	}

	.pusher {
		margin-top: 1.5em;
	}

	@media only screen and (min-width: 1281px) {
		.toc.item {
			display: none !important;
		}
	}

