
h3 So, how should you use 10X?


p.
	10X means that you can do things in 4 hours, what used to take 2 weeks. A prediction is that you won't use the time
	to do more, but you'll use time to do better. People will make webapps that are more interactive, more engaging:
	Webapps will be used to tell the story better.

	Also, 4 day work week is a thing.


	For example, there will be more gesture based apps, like FlipBoard or Tinder. Do you like that effect of using
	FlipBoard, and the page folds? Yeah, we show you how to do that.


