extends /layout/_layout

block head
	title Narwhal Services

block main

	img.ui.fluid.image(src='3.jpg')

	.ui.text.container
		include how10
		include forward

	//FOOTER - nested
	include /layout/_footer

	script.
		console.log('pg')