
// sidebar menu
.ui.vertical.inverted.sidebar.menu
	a.active.item Home
	a.item Solution
	a.item Pricing
	a.item Learn
	a.item Try It
	a.item Member - Name
	a.item About
	a.item Log out
	a.item Log in
	a.item Signup
