
h2 So, how should you use 10X? First, no lock in.

img.ui.medium.left.floated.image(src='flipboard.jpg')

p.
	10X means that you can do things in 4 hours, what used to take 2 weeks. A prediction is that you won't use the time
	to do more, but you'll use time to do better. People will make webapps that are more interactive, more engaging:
	Webapps will be used to tell the story better.

	For example, there will be more gesture based apps, like FlipBoard or Tinder. Do you like that effect of using
	FlipBoard, and the page folds? Yeah, we show you how to do that.

	Also, 4 day work week is a thing.


h3 Here is how to get started, what are the options:
p.

	- Check out sample app on S3

	- Take a 'train the trainer' online instructor lead training

	- Develop a sample app by reading a tutorial

	- Deploy a sample app to your S3

h3 Offerings/ agency consulting pacakges

p.
	Best practices assement
	2 week engagment to interview and present. ~ $20K

p.
	Gradual migration
	We help you gradualy migrate from exisiting platform.
	We do that in two steps:
		Step 1: integrateing a few new modules into your website
	webapp.
		Step 2: Then flip the switch, the ew platfrom integrates your old modules and mentor the staff. So everything new
		is on the new platofrm.

p.
	Fix exissting project.
	It takes about a day per screen/page, so you should get a few pages/screens done per week, ~ $3K / screen/page to migrate.



p.
	Hosting.
	Our hosting is different. Becuase you host on your S3. We support you. Better yet
	that you have your own webmaster. In this case, we support him
	her.
	Other hosting: on their server. We just support you on your S3.

p.
	Consulting
	Our consulting is different. We mentor YOUR team. Better yet, we do train the trainer of your tech manager.

p.
	Work with an Agency
	When working w/ an agency, we work heads down code, or as a tech lead.

p.
	- Open source nbake is free

	- The paid training class is held online every 2 weeks, $150 for two sessions

p.
	Our target is lead designers who:
		A. work on websites and webapps that matter, ie work on cool stuff
		B. designers who code.

p.
	API: we offer api to build in cloud. By calling our api we build on yourS3. $10 / month.
	And admin screen.
p.
	Join/Sign up to get in touch with us.