
.ui.cards.two

	.ui.card
		.content
			.header.center.aligned Free
			.meta.center.aligned free and unlimited
			.ui.divider.horizontal $0 / month
			.ui.list
				.item
					i.icon.checkmark
					.content
						| Do things
				.item
					i.icon.checkmark
					.content
						b 25.000
						|  of stuff
				.item
					i.icon.checkmark
					.content
						b 30
						|  days of history
				.item
					i.icon.checkmark
					.content
						b 20
						|  is just a number
				.item
					i.icon.checkmark
					.content
						b 15
						|  is another number
				.item
					i.icon.minus
					.content
						b Default
						|  Server
						br
						small (50 Petaflops/s)
		.extra.content
			button.ui.button.fluid.grey.disabled Default

	.ui.card.raised
		.content
			a.ui.label.left.corner.blue
				i.icon.plus
			.header.center.aligned Premium
			.meta.center.aligned prio ressources
			.ui.divider.horizontal $2 / month
			.ui.list
				.item
					i.icon.checkmark.blue
					.content
						| Do 
						b all
						|  things
				.item
					i.icon.checkmark.blue
					.content
						b 60.000
						|  of stuff
				.item
					i.icon.checkmark.blue
					.content
						b 120
						|  days of history
				.item
					i.icon.checkmark.blue
					.content
						b 100
						|  is just a number
				.item
					i.icon.checkmark.blue
					.content
						b 60
						|  is another number
				.item
					i.icon.checkmark.blue
					.content
						b Awesome
						|  Server
						br
						small (50 Petaflops/s)
				.item
					i.icon.checkmark.blue
					.content
						b Support
						|  the development
		.extra.content
			button.ui.button.fluid.blue Order now