style.
	.hero-image {
		background-image: url('2.jpg');
		background-size: cover;
		background-position: center;
		min-height: 70vh;

	}

	.headline1 {
		padding-top: 35%;
		padding-left: 65%;
	}


// 's' one
.ui.hero-image
		.ui.text.container
			.headline1
				h1.ui.inverted.header
					| Webaps that matter,
				p
				br
				p
				h2.ui.inverted.header &nbsp;for 10X leaders.
				.ui.huge.primary.button
					| Get Started
					i.right.arrow.icon

.ui.vertical.stripe.segment
	.ui.middle.aligned.stackable.grid.container
		.row
			.eight.wide.column
				h3.ui.header We Help Companies, webmasters, design leads or tech leads.
				p.
					Supporting customers with their interactive digital strategies, including web development and CMS conversion.
