style.
	.hero-image {
		background-image: url('2.jpg');
		background-size: cover;
		background-position: center;
		min-height: 70vh;

	}

	.headline1 {
		padding-top: 19%;
		padding-left: 50%;
		padding-right: 3em;
	}


// 's' one
.ui.hero-image
		.ui.text
			.headline1
				h1.ui.inverted.header
					| Tech gets better every decade.
				p
				br
				p
				h1.ui.inverted.header &nbsp;Now it is time to develop a CMS, that is 10x better than WordPress
				.ui.huge.primary.button
					| Get Started
					i.right.arrow.icon

.ui.vertical.stripe.segment
	.ui.middle.aligned.stackable.grid.container
		.row
			.eight.wide.column
				h3.ui.header Our open source markup examples hosted on S3 plus your vision.
				p.
					Supporting customers with their interactive digital strategies, including web development and CMS conversion.
