extends /plugin/_layout

block head
	title Narwhal Services

block main
	#fullPage
		.section.section1
			include _s1

		.section
			// 'pg2'
			.ui.vertical.stripe.segment
				.ui.middle.aligned.stackable.grid.container
					.row
						.eight.wide.column
							h3.ui.header We help you become a 10x Lead.
							p.
								Yes that's right, you thought it was the stuff of dreams,
								but every decade the tech has improved 10 fold. We'll show you how to get you ahead.
								Here is a web example from 2013.
						.six.wide.right.floated.column
							img.ui.large.bordered.rounded.image(src='gp.jpg')

			.ui.vertical.stripe.quote.segment
				.ui.equal.width.stackable.internally.celled.grid
					.center.aligned.row
						.column
							h3 "They are markup/Pug experts"
							p That is what they all say about us
						.column
							h3 "I shouldn have hosted on S3."
							p How I have a mess to clean up. We will help you convert.
			.ui.vertical.stripe.segment
				.ui.text.container
					h3.ui.header Plus we do fixed budget!
					p.
						We team up with you on interactive digital CRAFTSMANSHIP.
						Even webmaster at top interactive digital agencies
						needs a webmaster to support them. That is where we come in.

		//ending
		.section.sectionEnd
			//ending w/ footer
			p
			br
			p
			.ui.vertical.stripe.segment

				.ui.text.container
					h3.ui.header Did We Tell You that we help you be a 10X lead?
					p.
						Yes I know you may disregard the earlier boasts, but its true.
					a.ui.large.button I'm Interested

			//FOOTER - nested
			include  /plugin/_footer

	script(src='/assets/js/fullPg.js')
	script.
		console.log('pg')