
p oh hi

#pgs
	#pg

template#tmpl1
	ul
		| {{#.}}
		li.
			{{title}}
			{{content_text}}
		| {{/.}}

script.

	loadjs.ready('PRELoadB', function() { // wait for fetch to be loaded

		fetch('items.json').then(function(resp) {
			return resp.json()
		}).then(function(obj) {
			feed = obj
			loadjs.done('feed')
		})

	})

	// loaded lib and got data
	loadjs.ready(['dbind','feed'], function() {
		console.log('dbind')

		$('#pgs').pagination({
			dataSource: feed.items,
			pageSize: 3,
			showPageNumbers: false,
			showNavigator: true,

			callback: function(data, pagination) {
				console.log(data)

				lateBind($('#tmpl1'), data, $('#pg'))

			}//cb
		})

	})//ready

	function lateBind($tmpl, data, $el) {
		let res = Mustache.render($tmpl.html(), data)
		$el.html(res)
	}

	loadjs.ready('PRELoadB', function() {
		loadjs(['//cdn.jsdelivr.net/npm/moment@2.22.0/min/moment.min.js'
		,'//cdn.jsdelivr.net/npm/mustache@2.3.0/mustache.min.js'
		, '//cdn.jsdelivr.net/npm/paginationjs@2.1.2/dist/pagination.min.js'
		, '//cdn.jsdelivr.net/npm/paginationjs@2.1.2/dist/pagination.css'
		],'dbind')
	})
