



script.


	loadjs.ready('dbind', function() {

		$('#demo').pagination({
			dataSource: [1, 2, 3, 4, 5, 6, 7, ... , 195],
			callback: function(data, pagination) {
				// template method of yourself
				var html = template(data)

				dataContainer.html(html)

				}
		})

	})//ready

	function bind(eID, field, value) {

	}

	loadjs.ready('PRELoadB', function() {
		loadjs(['//cdn.jsdelivr.net/npm/moment@2.22.0/min/moment.min.js'
		,'//cdn.jsdelivr.net/npm/mustache@2.3.0/mustache.min.js'
		, 'https://cdn.jsdelivr.net/npm/paginationjs@2.1.2/dist/pagination.min.js'
		],'dbind')
	})