items-tag

	<virtual each={ items}>
		h3 { title}
		div { content_text}
	</virtual>

	p
	p

	script.
		console.log('items tag')
		this.items = []

		 renderItems(args) { //called by page on new data
			console.log('first row '+ JSON.stringify(args[0]))
			this.items = args
			this.update()
		}

