items-tag
	p in tag

	<virtual each={ items}>
		p { title}
		br { content_text}
	</virtual>

	script.
		console.log('items tag')
		this.items = []

		 renderItems(args) { //called by page on new data
			console.log('first row '+ JSON.stringify(args[0]))
			this.items = args
			this.update()
		}


