items-tag
	.ui.cards
		<virtual each={ items}>

			.card
				image
					img(src= '{ image }' , width='160')
				.content
					.header { title}
					.meta { author}
					.description { content_text}

		</virtual>

	p
	p

	script.
		console.log('items tag')
		this.items = []

		 renderItems(args) { //called by page on new data
			console.log('first row '+ JSON.stringify(args[0]))
			this.items = args
			this.update()
		}

