items-tag
	p in tag
	<ul>
		<li each={ items }> { title }</li>
	</ul>


	script.
		console.log('items tag')
		this.items = []

		 renderItems(args) { //called by page
			console.log('XXX '+ JSON.stringify(args[0]))
			this.items = args
			this.update()
		}


// {{content_text}}
