items-tag
	p test { value }

	script.
		console.log('items pug')

		 renderItems(data) {
			console.log('XXX '+ data)
		}


//template#tmpl1
	ul
		| {{#.}}
		li.
			{{title}}
			{{content_text}}
		| {{/.}}