extends /layout/_layout
//- App Shell

block head
	//static binding ex:
	title #{title}

block main
	p
	br
	p
	.ui.text.container
		include form
		include sentThanks



block main
	p
	.ui.text.container
		include form


