
.ui.cards.two

	.ui.card
		.content
			.header.center.aligned Experienced Freelancer
			.meta.center.aligned Your Webmaster
			.ui.divider.horizontal $75 / month
			.ui.list
				.item
					i.icon.checkmark
					.content
						b Co-Hosting Meta Build
				.item
					i.icon.checkmark
					.content
						b 2 meta mounted sites ( some limitations )
				.item
					i.icon.checkmark
					.content
						b CDN, SSL and SEO supported/optional
				.item
					i.icon.checkmark
					.content
						b 1 IOS App, 1 Andorid App
				.item
					i.icon.checkmark
					.content
						b Webapp/Website migration support
				.item
					i.icon.minus
					.content
						b Training seat
						br
						small ( One )
		.extra.content
			button.ui.button.fluid.grey Signup

	.ui.card.raised
		.content
			a.ui.label.left.corner.blue
				i.icon.plus
			.header.center.aligned Agency/ Enterprise
			.meta.center.aligned Expert Webmaster
			.ui.divider.horizontal $175 / month
			.ui.list
				.item
					i.icon.checkmark.blue
					.content
						b  Co-Hosting Meta Build
				.item
					i.icon.checkmark.blue
					.content
						b  Unlimited meta mounted sites
				.item
					i.icon.checkmark.blue
					.content
						b You CDN, SSL and SEO supported
				.item
					i.icon.checkmark.blue
					.content
						b Unlimited IOS App, Andorid App and Windows Apps
				.item
					i.icon.checkmark.blue
					.content
						b Training seat
						br
						small ( Monthly )

		.extra.content
			button.ui.button.fluid.blue Order now