.ui.vertical.stripe.segment
	.ui.middle.aligned.stackable.grid.container
		.row
			.eight.wide.column
				h3.ui.header We are your build (meta?) WebMaster
				p.
					Yes that's right,
					when you get stuck or need support - we are here.
			.six.wide.right.floated.column
				p Websites, Webaps, and IOS/Andorid Appstore

.ui.vertical.stripe.quote.segment
	.ui.equal.width.stackable.internally.celled.grid
		.center.aligned.row
			.column
				h3 "What a Company"
				p That is what they all say about us
			.column
				h3 "I shouldn't have gone with their competitor."
					b.
						Nan
						Chief Fun Officer Acme Toys
.ui.vertical.stripe.segment
