
// footer
p
.ui.inverted.vertical.footer.segment
	.ui.container
		.ui.stackable.inverted.divided.equal.height.stackable.grid
			.three.wide.column
				h4.ui.inverted.header Services
				.ui.inverted.link.list
					a.item(href='#') Free and open source
					a.item(href='#') Instructor training
			.three.wide.column
				h4.ui.inverted.header Contacts
				.ui.inverted.link.list
					a.item(href='#') Meta Forum
						a.item(href='/page/about') About
			.seven.wide.column
				h4.ui.inverted.header Our Mission:
				p.
					We get better tech every decade.
					Now is the time to develop the CMS 10x better than WordPress.
					Avoid being a late adopter by takeing 'train-the-trainer leadership' course.
					Sign up.

