
p

h4.ui.dividing.header Talk to us
form#msgForm.ui.form
	.filed
		.fields
			.field
				label Name
				input(type='text', name='name', placeholder='Name')
		.fields
			.field
				label EMail
				input(type='text', name='email', placeholder='me@gmail.com')
			.field
				label Phone Number
				input(type='text', name='phone', placeholder='917 555 1212')
		.fields
			.field
				label City
				input(type='text', name='city', placeholder='New York City')
			.field
				label Organization
				input(type='text', name='org', placeholder='Omnicom Marketing')

	.filed
		label Message
			.field
				textarea(rows='3', name='msg' )
	.filed
		p
			#msgBut.ui.button Send

script.
	loadjs.ready('style', function () {
		loadjs([ '//cdn.emailjs.com/dist/email.min.js'
			,'//cdn.jsdelivr.net/npm/jquery-serializejson@2.8.1/jquery.serializejson.min.js'
		], 'mailjs', {
			async: false //required due to loadjs bug with bundles
		}) //loadjs
	})// ready

	loadjs.ready('mailjs', function () {
		emailjs.init('user_i6az3pB6xLKZe5q4XwtUb')
		$('#msgBut').click(function(){
			let msg= $('#msgForm').serializeJSON();
			console.log(msg)
			hideForm()
			emailjs.sendForm('default_service', 'msg2', 'msgForm')
				.then(function(){
					console.log('sent')
					msgSent()
				}, function(err) {
					alert("Send email failed!\r\n Response:\n " + JSON.stringify(err));
				})
			// thank you
		})
	})//()

	function hideForm() {
		$('#msgForm').hide()
	}

