

// join form 
.ui.raised.very.padded.text.container.segment

	form.grid-form
		fieldset
			legend Part 2 of 2 - reset password:
			div(data-row-span='2')
				div(data-field-span='2')
					label Enter code
					input#code(type='text', autofocus='', autocomplete='new-password' )
			div(data-row-span='2')
				div(data-field-span='2')
					label Enter new password
					input#pswd(type='password', autocomplete='new-password' )
			p
			div
				#intro.ui.message.
					A code was sent to your email. 
					You'll need to contact our general support
					if you can't sign in.
			div
				#err.ui.error.message
			div
				#ok.ui.message Thank you for your information, we will keep it safe. A validation email was just sent to the provided email. You'll need to click on the sent email to continue.

			p
			button#valB.ui.button.primary Validate

script.
	loadjs.ready('PRELoadB', function() {
		console.log('form')
		loadjs(['/assets/gridforms/gridforms.css'
				,'/assets/gridforms/gridforms.js'])

		PAGEinitial()
		
		loadjs('/zmodel/setupModel.js')
		loadjs.ready('ModelB', function() { // bundle
			setupBut()
		})
	})//ready

	// PAGE
	function setupBut() {
		console.log('buts')
		var email = User.emailGet()

		console.log(email)

		$( '#valB' ).click(function(e) {// clicked
			e.preventDefault()
			PAGEtry()

			var code = $('#code').val()
			var pswd = $('#pswd').val()
			console.log(email, pswd, code)
			User.enterNewPswdWCode(email, pswd, code).then(function(val) { // confirmed
				$('#intro').hide()
				PAGEOK()

			}).catch(function(err) { //failed
				console.log(err)
				PAGEerror(err.message +' '+ err.name)
			})
		})// on click
	}//setup()

	//page UI states
	function PAGEinitial() {
		$('#intro').show()
		$( '#ok' ).hide()
		$( '#err' ).hide()
	}
	function PAGEOK() {
		console.log('ok')
		$('#intro').hide()
		$( '#ok' ).show()
		$( '#err' ).hide()
		User.logout()
		setTimeout(function(){
			window.location.href = '/register/login'
		}, ux.time)
	}
	function PAGEerror(err) {
		$('#intro').show()
		$( '#ok' ).hide()
		$( '#err' ).text(err)
		$( '#err' ).show()
	}
	function PAGEtry(err) {
		$( '#err' ).hide()
		$( '#err' ).text('')
	}