extends /layout/_layout

block head
	title Narwhal Services

block main

	p
	br
	p

	#fullpage
		.section.section1
			// * content
			include first

		.section
			// 'pg2'
			.ui.container.text
				include _priceTable

		//ending
		.section.sectionEnd
			//ending w/ footer
			h4.ui.horizontal.header.divider
					a(href='#') Case Studies
			.ui.text.container
				h3.ui.header Did We Tell You About Mardown, Markup and Meta?
				p.
					Yes I know you probably disregarded the earlier boasts
					as non-sequitur filler content, but its really true.
				a.ui.large.button I'm Interested

			//FOOTER - nested
			include /layout/_Footer

	script(src='/assets/js/fullPgSetup.js')
	script.
		console.log('pg')