extends /layout/_layout

block head
	title Narwhal Services

block main
	#fullPage
		.section.section1
			include s1

		.section
			// 'pg2'
			include s2

		//ending
		.section.sectionEnd
			//ending w/ footer
			p
			br
			p
			.ui.vertical.stripe.segment

				.ui.text.container
					h3.ui.header Did We Tell You that we help you be a 10X lead?
					p.
						Yes I know you may disregard the earlier boasts, but its true.
					a.ui.large.button I'm Interested

			//FOOTER - nested
			include  /layout/_footer

	script(src='/assets/js/fullPgSetup.js')
	script.
		console.log('pg')